body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #576FD9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  width: 500px;
  height: 200px;
  background: #ffffff;
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

.Modal
{
  width: 500px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  .Modal-dialog{
    .Modal-content{
      width: 500px;
      .Modal-title{
        font-size: 20px;
        color: #333;
        border-bottom: 1px solid #333;
      }
      .Modal-body{

        .Add-input{
          width: 300px;
          height: 30px;
        }
      }
      .Modal-footer{
        .btn-save{
          width: 70px;
          height: 30px;
          color: #ffffff;
          background: #0069D9;
          border: 1px solid #ddd;
        }
        .btn-close{
          width: 70px;
          height: 30px;
          margin-left: 10px;
          border: 1px solid #ddd;
        }
      }
    }
  }
}

